* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(to right, rgba(88, 214, 253, 0.39), rgb(88, 215, 253) );
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: orangered;
    
    padding: 3rem;
    font-size: 3rem;
}

input {
    min-width: 600px;
    height: 2rem;
    border-radius: 10px o 10px 0;
    border: solid 2px orangered;
    padding-left: 1rem;
    color: orangered;
    font-size: 1rem;
    outline: none;
}

::placeholder {
    color: black;
}

button {
    width: 200px;
    height: 2rem;
    background: orangered;
    border-radius: 10px o 10px 0;
    border:solid 2px blue;

}



